# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore
/bower_components/

main-addTrack.bundle.js
main-dataDelivery.bundle.js
main-editTrack.bundle.js
main-going.bundle.js
main-jqueryFunctions.bundle.js

node_modules
.DS_Store